<div class="mat-cardCU">
  <!--  <div class="row">-->
  <div [ngClass]="{'active': active}"  class="menu">
    <div class="toggle" (click)="toggleActive()"><img src="assets/BMWv2.png" alt="menu-logo"></div>
    <li style="--i:0">
      <a (click)="categNewModels()"><span class="mx-2">New Model</span></a>
    </li>
    <li style="--i:1">
      <a (click)="categOldSchool()"><span class="mx-2">Old School</span></a>
    </li>
    <li style="--i:2">
      <a (click)="categLegendary()"><span class="mx-2">Legendary</span></a>
    </li>
    <li style="--i:3">
      <a (click)="categLeMans()"><span class="mx-2">LE Mans</span></a>
    </li>
    <li style="--i:4">
      <a (click)="categGoldenDecade()"><span class="mx-2">Golden Decade</span></a>
    </li>
    <li style="--i:5">
      <a (click)="categNewMillenal()"><span class="mx-2">New millenial</span></a>
    </li>
    <li style="--i:6">
      <a (click)="categBikes()">Bikes</a>
    </li>
    <li style="--i:7">
      <a>...</a>
    </li>
  </div>
  <!--    <div class="col-2"><h3 class="h2">Categories</h3></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categNewModels()">New models 🆕</button></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categOldSchool()">Old school 🔥</button></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categLegendary()">Legendary 👀</button></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categLeMans()">LE Mans 🏁</button></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categGoldenDecade()">Golden Decade 🥇</button></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categNewMillenal()">New millenial 🚀</button></div>-->
  <!--    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categBikes()">Bikes 🏍</button></div>-->
  <!--  </div>-->
</div>

<!--<script>-->
<!--  let toggle = document.querySelector('.toggle');-->
<!--  let menu = document.querySelector('.menu');-->
<!--  toggle.onclick = function() {-->
<!--    menu.classList.toggle('active')-->
<!--  }-->
<!--</script>-->



