//Initial position

//Mobile S
@media (max-width: 320.98px) {
  .initPos {
    margin-left: 50px;
    margin-top: 200px;
  }
}

//Mobile M
@media (min-width: 375px) {
  .initPos {
    margin-left: 80px;
    margin-top: 200px;
  }
}

//Mobile L
@media (min-width: 425px) {
  .initPos {
    margin-left: 100px;
    margin-top: 200px;
  }
}

//Tablet
@media (min-width: 768px) {
  .initPos {
    margin-left: 280px;
    margin-top: 190px;
  }
}

//Lap Top 1024px
@media (min-width: 1024px) {
  .initPos {
    margin-left: 780px;
    margin-top: 385px;
  }
}

//TV 1360px
@media (min-width: 1360px) {
  .initPos {
    margin-left: 1050px;
    margin-top: 385px;
  }
}

//Lap Top 1440px
@media (min-width: 1440px) {
  .initPos {
    margin-left: 1130px;
    margin-top: 385px;
  }
}

//Lap Top 1536px My Lap Top
@media (min-width: 1536px) {
  .initPos {
    margin-left: 1170px;
    margin-top: 384px;
  }
}

//Lap Top 1920
@media (min-width: 1920px) {
  .initPos {
    margin-left: 1360px;
    margin-top: 520px;
  }
}

//4K 2560px
@media (min-width: 2560px) {
  .initPos {
    margin-left: 1700px;
    margin-top: 520px;
  }
}


.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  border-radius: 130px;
  background: transparent;
  animation-duration: 0.5s;
  animation-fill-mode: both;

}

.menu.active {
  width: 230px;
  height: 230px;
  border-radius: 130px;
  //background: linear-gradient(90deg, #81C4FF, #16588E, #E7222E);
}

.menu li {
  position: absolute;
  list-style: none;
  transform: rotate(calc(360deg / 8 * var(--i)));
  transform-origin: 100px;
  left: 15px;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--i));
  transform: rotate(0deg) translateX(70px);
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(10px);
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #716360;
  border: #716360 1px solid;
  width: 50px;
  height: 50px;
  font-size: 55%;
  border-radius: 50%;
  transform: rotate(calc(360deg / -8 * var(--i))); // number here changes for as many elements there are
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.menu li a:hover {
  color: #8F00FF;
  border: #8F00FF 2px solid;
}


.toggle {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #fff;
  border: #16588E 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: 0.75s;
}

.menu.active .toggle {
  transform: rotate(360deg);
}

img {
  width: 70px;
  height: 70px;
  border: white 2px solid;
  border-radius: 50%;
  transition: 0.5s;
}

.activeImg {
  width: 80px;
  height: 80px;
  border: #716360 3px solid;
  transition: 0.8s;
}

toggle .active {
  pointer-events: none;
  cursor: move;
  transition: 0.5s;
}


