<mat-card>
  <div class="row">
    <div class="col-2">
      <mat-card-title>Categories</mat-card-title>
    </div>
    <div class="col-auto">
      <button class="btn btn-dark">Old school</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-light">New models</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-dark">Legendary</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-light">LE Mans</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-dark">Golden Decade</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-light">New millenial</button>
    </div>
  </div>
</mat-card>
