<mat-card>
  <div class="row">
    <div class="col-2"><h3 class="h2">Categories</h3></div>
    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categOldSchool()">Old school</button></div>
    <div class="col-auto"><button class="btn btn-outline-primary" (click)="categNewModels()">New models</button></div>
    <div class="col-auto"><button class="btn btn-outline-primary">Legendary 👀</button></div>
    <div class="col-auto"><button class="btn btn-outline-primary">LE Mans</button></div>
    <div class="col-auto"><button class="btn btn-outline-primary">Golden Decade</button></div>
    <div class="col-auto"><button class="btn btn-outline-primary">New millenial</button></div>
    <div class="col-auto"><button class="btn btn-outline-primary">Bikes</button></div>
  </div>
</mat-card>
