//mat-card.example-card {
//  background-color: white;
//  margin-bottom: 15px;
//}

.All {
  font-family: BMWTypeNextLatin, "Helvetica", "Arial", "Hiragino", "Kaku", "Gothic", "ProN", "Hiragino", "Sans", "Meiryo", sans-serif;
  //margin-left: 250px;
}

.card{
  opacity: 95%;
}

img {
  width: 60%;
  height: 60%;
  margin-left: 80px;
  //border: #1c75c0 2px solid;
  padding: 0;
  border-radius: 10px;
}
