<div class="container">
   <div class="cardCustom All overflowY">
     <div class="align-content-center">
       <h3>{{carModel.cModel}} {{carModel.generation}}</h3>
       <img class=" col-md-12 card-img-top justify-content-center align-items-center mt-3" src="{{carModel.img}}"
            alt="{{carModel.cModel + carModel.generation}}">
     </div>

     <div class="align-content-center pt-2 px-2">
       <p class="card-text">{{carModel.description}}</p>
       <ul class="mt-2">
         <li *ngIf="carModel.engineCm3">Engine: {{carModel.engineCm3}} cm3</li>
         <li *ngIf="carModel.engineKWH">Electric Engine: {{carModel.engineKWH}} Kwh</li>
         <li>Fuel Type: {{carModel.engineCombustion | titlecase}}</li>
         <li>Power: {{carModel.power}} HP</li>
         <li>First Production year: {{carModel.YOP | date:'MM/YYYY' }}</li>
         <li>Body Type: {{carModel.bodyType | titlecase}}</li>
       </ul>
       <a type="button" class="btn btn-sm btn-outline-secondary">View <strong>HC</strong></a>
       <a type="button" class="btn btn-sm btn-outline-secondary">❤ <strong>HC</strong></a>
     </div>
   </div>
</div>


