.All {
  font-family: BMWTypeNextLatin, "Helvetica", "Arial", "Hiragino", "Kaku", "Gothic", "ProN", "Hiragino", "Sans", "Meiryo", sans-serif;
}

.overflowY {
  overflow-y: scroll;
}

.containerCustom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto
}

.cardCustom{
  width: 27rem;
  margin: 10px;
  height: 45rem;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 3px 8px 0px rgb(231, 34, 46);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover{
    box-shadow: 4px 3px 8px 11px rgb(231, 34, 46);
    transform: translateY(-3px);
  }
}


