<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-start">
      <div href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/BMW.png" alt="bmw logo" class="bi me-2" width="90" height="90" >
      </div>


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
        <li><a class="nav-link px-2 text-secondary">Home</a></li>
        <li><a class="nav-link px-2 text-white">Features</a></li>
        <li><a class="nav-link px-2 text-white">Pricing</a></li>
        <li><a class="nav-link px-2 text-white">FAQs</a></li>
        <li><a class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="col-md-6 news">
        <app-news></app-news>
      </div>

<!--      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
<!--        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
<!--      </form>-->

      <div class="text-end justify-content-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>


<!--<div class="container">-->
<!--  <div class="row">-->

<!--    <div class="col-md-2">-->
<!--      <p>Logo</p>-->
<!--    </div>-->

<!--    <div class="col-md-8">-->
<!--      <app-news></app-news>-->
<!--    </div>-->

<!--    <div class="col-md-2">-->
<!--      <p>Login</p>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
