<div class="container-fluid">
  <div class="row justify-content-evenly p-3">

    <div class="col-1 mt-5">
      <span class="carousel-control-prev-icon"></span>
    </div>
    <div class="col-10 align-items-center">
      {{'BMW M will finish their 50 year birthday celebrations with a bang. ' +
    'Towards the end of the year, the M division will unveil their most expensive ' +
    'model to date – a remastered BMW 3.0 CSL. Based on the 3.0 CSL Hommage unveiled in ' +
    '2015, the new 3.0 CSL will have a rumored price of 750,00 euros.'}}
    </div>
    <div class="col-1 mt-5">
      <span class="carousel-control-next-icon"></span>
    </div>

  </div>
</div>
