mat-card {
  background-color: rgba(251,250,249,0.4)
}

.list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-white {
  font-family: BMWTypeNextLatin, "Helvetica", "Arial", "Hiragino", "Kaku", "Gothic", "ProN", "Hiragino", "Sans", "Meiryo", sans-serif;
  margin-left: 25px;
  padding-top: 10px;
  font-size: 35px;
}



