
/*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/

.text-white {
  font-family: BMWTypeNextLatin, "Helvetica", "Arial", "Hiragino", "Kaku", "Gothic", "ProN", "Hiragino", "Sans", "Meiryo", sans-serif;
  margin-left: 25px;
  padding-top: 10px;
  font-size: 35px;
}



