<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-Custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/AS.png" alt="bmw logo" class="bi me-2 logo" width="100" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navigateToAddDialog()">New Model</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth/signin">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex w-25" role="search">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>

        <!--Profile-->
        <div *ngIf="loggedUser" class="dropdown px-4">
          <div class="d-flex align-items-center">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="50" height="50" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item">New Model</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
            </ul>
          </div>
        </div>
        <!--Profile-->

        <div *ngIf="!loggedUser" class="mt-3">
          <div class="d-flex align-items-center">
            <ul>
              <button type="button" class="btn btn-outline-light me-2" (click)="signInNavigation()">Login</button>
              <button type="button" class="btn btn-warning" (click)="signUpNavigation()">Sign-up</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
             preserveAspectRatio="xMidYMid slice" focusable="false">
          <style type="text/css">
            #rect1 { fill: url(#MyGradient); }
          </style>
          <defs>
            <linearGradient id="MyGradient">
<!--              <stop offset="5%" stop-color="#E7222E" />-->
<!--              <stop offset="25%" stop-color="#16588E" />-->
<!--              <stop offset="95%" stop-color="#81C4FF" />-->
            </linearGradient>
          </defs>

          <rect width="100%" height="90%"/>

        </svg>

        <div class="container">
          <div class="carousel-caption text-start cuMarCarousel positionCu">
            <h1>AS Showroom</h1>
            <p>“Nobody is absolutely perfect but if you drive a BMW, you are pretty close”</p>
            <!--            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>-->
          </div>
        </div>
      </div>

      <div
        class="carousel-item"
        *ngFor="let news of News">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
             preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="90%" fill="#81C4FF"/>
          <!--COLOR CHANGE OF NEWS BACKGROUND^^^^^-->
        </svg>

        <div class="container">
          <div class="carousel-caption positionCu text-start">
            <h1>{{news.header}}</h1>
            <p>{{news.content}}</p>
            <!--            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>-->
          </div>
        </div>
      </div>


    </div>

    <button class="carousel-control-prev cuMargBut" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next cuMargBut" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>

<router-outlet></router-outlet>
