<h2 class="p-0 m-0" mat-dialog-title>Add Model</h2>
<hr>
<mat-dialog-content class="mat-typography" [formGroup]="bmwForm">

  <!--  Image and Model-->
  <div class="row">

    <!--  Image-->
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Image</mat-label>
      <input matInput placeholder="URL" formControlName="img">
      <mat-hint *ngIf="bmwForm.get('img').hasError('required') && bmwForm.get('img').touched">Required</mat-hint>
    </mat-form-field>


    <!--  Model-->
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Model</mat-label>
      <input matInput placeholder="M4 e.g" formControlName="cModel">
      <mat-hint *ngIf="bmwForm.get('cModel').hasError('required') && bmwForm.get('cModel').touched">Required
      </mat-hint>
    </mat-form-field>
    <br>
  </div>


  <!--  Engine Type and kWh-->
  <div class="row">

    <!--  engine combustion-->
    <mat-form-field
      class="{{bmwForm.get('engineCombustion').value ==='hybrid' || bmwForm.get('engineCombustion').value ==='electric' ? 'col-6':'col-12'}}"
      appearance="outline">
      <mat-label>Engine Type</mat-label>
      <select matNativeControl required formControlName="engineCombustion">
        <option value="diesel">Diesel</option>
        <option value="petrol">Petrol</option>
        <option value="hybrid">Hybrid</option>
        <option value="electric">Electric</option>
      </select>
      <mat-hint
        *ngIf="bmwForm.get('engineCombustion').hasError('required') && bmwForm.get('engineCombustion').touched">
        Required
      </mat-hint>
    </mat-form-field>

    <!--  engine kWH-->
    <mat-form-field class="col-6"
                    *ngIf="bmwForm.get('engineCombustion').value ==='hybrid' || bmwForm.get('engineCombustion').value ==='electric' "
                    appearance="outline">
      <mat-label>Battery Capacity KWH</mat-label>
      <input matInput placeholder="No." formControlName="engineKWH">
      <mat-hint *ngIf="bmwForm.get('engineKWH').hasError('pattern') && bmwForm.get('engineKWH').touched">Only Numbers
        allowed
      </mat-hint>
      <mat-hint *ngIf="bmwForm.get('engineKWH').hasError('required') && bmwForm.get('engineKWH').touched">Required
      </mat-hint>
    </mat-form-field>

  </div>


  <!--  Generation and Engine-->
  <div class="row">

    <!--  generation-->
    <mat-form-field class="{{bmwForm.get('engineCombustion').value ==='electric' ? 'col-12':'col-6'}}"
                    appearance="outline">
      <mat-label>Generation</mat-label>
      <input matInput placeholder="G22 e.g" formControlName="generation">
      <mat-hint *ngIf="bmwForm.get('generation').hasError('required') && bmwForm.get('generation').touched">Required
      </mat-hint>
    </mat-form-field>


    <!--  engine cm3-->
    <mat-form-field *ngIf="bmwForm.get('engineCombustion').value !=='electric'" class="col-6" appearance="outline">
      <mat-label>Engine Cm3</mat-label>
      <input matInput placeholder="2998 e.g" formControlName="engineCm3">
      <mat-hint *ngIf="bmwForm.get('engineCm3').hasError('pattern') && bmwForm.get('engineCm3').touched">Only Numbers
        allowed
      </mat-hint>
      <mat-hint *ngIf="bmwForm.get('engineCm3').hasError('required') && bmwForm.get('engineCm3').touched">Required
      </mat-hint>
    </mat-form-field>
    <br>

  </div>


  <!--  YOP and Category-->
  <div class="row">

    <!--  Year of production-->

    <mat-form-field class="col-6" appearance="outline">
      <mat-label>YOP</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="YOP" placeholder="Year of Production">
      <mat-hint *ngIf="bmwForm.get('YOP').hasError('required') && bmwForm.get('YOP').touched">Required</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>


    <!--  Category-->
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Category</mat-label>
      <select matNativeControl required formControlName="category">
        <option value="NewModel">New Models</option>
        <option value="OldSchool">Old School</option>
        <option value="Legendary">Legendary</option>
        <option value="LeMans">Le Mans</option>
        <option value="Electric">Electric</option>
        <option value="NewMillenial">New Millenial</option>
        <option value="Bikes">Bikes</option>
      </select>
      <mat-hint *ngIf="bmwForm.get('category').hasError('required') && bmwForm.get('category').touched">Required
      </mat-hint>
    </mat-form-field>

    <br>
  </div>


  <!--  Body Type and Power-->
  <div class="row">

    <!--  bodyType-->
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Body Type</mat-label>
      <input matInput placeholder="Coupe e.g" formControlName="bodyType">
      <mat-hint *ngIf="bmwForm.get('bodyType').hasError('required') && bmwForm.get('bodyType').touched">Required
      </mat-hint>
    </mat-form-field>


    <!--  power-->
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>HP</mat-label>
      <input matInput placeholder="400 e.g" formControlName="power">
      <mat-hint *ngIf="bmwForm.get('power').hasError('pattern') && bmwForm.get('power').touched">Only Numbers
        allowed
      </mat-hint>
      <mat-hint *ngIf="bmwForm.get('power').hasError('required') && bmwForm.get('power').touched">Required</mat-hint>

    </mat-form-field>
    <br>
  </div>


  <!--  description-->
  <mat-form-field class="col-12" appearance="outline">
    <mat-label>History</mat-label>
    <textarea rows="6" matInput placeholder="Description" formControlName="description"></textarea>
    <mat-hint *ngIf="bmwForm.get('description').hasError('required') && bmwForm.get('description').touched">Required
    </mat-hint>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="sendForm()"
    [disabled]="bmwForm.invalid"
  >Add
  </button>
</mat-dialog-actions>

