<app-header-bar></app-header-bar>

<div class="container">
  <div class="row justify-content-center align-items-center ">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-4 pb-4 ">
      <app-categories-bar></app-categories-bar>
    </div>
  </div>

  <div class="row  justify-content-center align-content-center">
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 pt-3 pb-3">
      <app-bmw-list></app-bmw-list>
    </div>
<!--  </div>-->

<!--  <div class="row mt-lg-5 justify-content-center align-items-center">-->

<!--    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">-->
<!--      <app-bmw-description></app-bmw-description>-->
<!--    </div>-->
  </div>

</div>

<router-outlet></router-outlet>


