.bi {
  vertical-align: -.125em;
  fill: currentColor;
  border-radius: 50%;
}

.bg-custom{
  background: linear-gradient(270deg, #81C4FF, #16588E, #E7222E);
}

//Maybe just for this screen  1536px WIDTH  TODO:Must check for other screens
.row{
  --bs-gutter-x: 1.0 rem !important;
}
