<mat-card>
  <mat-card-title>Vehicle:</mat-card-title>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Bmw M4</mat-card-title>
      <mat-card-subtitle>F32</mat-card-subtitle>
      <img mat-card-xl-image src="assets/m4f32.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      <div class="row">{{"Detail : Description "}}</div>
      <div class="row">{{"Detail : Description "}}</div>
      <div class="row">{{"Detail : Description "}}</div>
      <div class="row">{{"Detail : Description "}}</div>
      <div class="row">{{"Detail : Description "}}</div>
      <div class="row">{{"Detail : Description "}}</div>
      <div class="row">{{"Detail : Description "}}</div>
    </mat-card-content>
  </mat-card>
</mat-card>
