<mat-card>
  <mat-card-title class="text-white">Bmw M4</mat-card-title>
  <mat-card-subtitle class="text-white">F32</mat-card-subtitle>

  <mat-card class="example-card">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <mat-card-content>
            <div class="row">{{"Detail : Description "}}</div>
            <div class="row">{{"Detail : Description "}}</div>
            <div class="row">{{"Detail : Description "}}</div>
            <div class="row">{{"Detail : Description "}}</div>
            <div class="row">{{"Detail : Description "}}</div>
            <div class="row">{{"Detail : Description "}}</div>
            <div class="row">{{"Detail : Description "}}</div>
          </mat-card-content>
        </div>
        <div class="col-md-6">
          <img alt="m4f32" mat-card-xl-image src="assets/m4f32.jpg">
        </div>
      </div>
    </div>
  </mat-card>
</mat-card>
