<div class="card bg-dark">
  <div class="flex flex-row card-container indigo-container p-7">
    <div id="example1" class="flex-1 bg-transparent  text-white font-bold text-center p-4 border-round">
      <mat-card class="bg-transparent text-white border-0">
        <div class="row">
          <div class="col-3">
        <mat-card-title>ASCars</mat-card-title>
          </div>
        </div>
        <mat-card-content>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-end">ASCars is an e-showroom for choosing the car of your dreams</mat-card-footer>
      </mat-card>
    </div>
    <div class="flex-1 bg-indigo-500 text-black font-bold text-center p-4 border-round">

    </div>
  </div>
</div>
