<mat-card class="example-card">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col">
        <mat-card-title>{{bmwItem.cModel}}</mat-card-title>
        <mat-card-subtitle>{{bmwItem.generation}}</mat-card-subtitle>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col">
        <img mat-card-sm-image [src]="bmwItem.img">
      </div>
    </div>

  </div>
  <mat-card-content class="mt-4">
    {{bmwItem.description}} <br>
    <strong>Engine :{{bmwItem.engineCm3}} cm3</strong> <br>
    <strong>Body Type:{{bmwItem.bodyType}}</strong> <br>
    <strong>Combusiton: {{bmwItem.engineCombustion}}</strong> <br>
    <strong>Power: {{bmwItem.power}} HP</strong> <br>
  </mat-card-content>
</mat-card>
