@font-face {
  // Defining what the font will be called
  font-family: BMWTypeNextLatin;
  // Linking to the font file
  src: url(assets/BMWTypeNextLatin.woff2);
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body{
  background: linear-gradient(to right bottom, #81C4FF, #16588E, #E7222E);
  overflow-x: hidden;
}

//Year of production field >>> ASCars-add.component

#YOP > span > input {
  background-color: transparent !important;
  border:1px solid rgba(0,0,0,0.5);
  width:100%;
  height:100%;
}

#YOP > span > input:hover {
  background-color: transparent !important;
  border:1px solid rgba(0,0,0,1);
  width:100%;
  height:100%;
}

.p-calendar {
  height: 56px;
}
