<div class="fixed-top initPos" cdkDrag>
  <div [ngClass]="{'active':active}" class="menu">
    <div [ngClass]="{'active':active}" class="toggle" (click)="toggleActive()"><img [ngClass]="{'activeImg':active}"
                                                                                    src="../../../assets/menu_wheel.png" alt="menu-logo">
    </div>
    <li *ngFor="let menu of menuItems; index as i"
        [style.--i]="i">
      <a
        [ngClass]="{'hidden':!active}"
        (click)="navigateCategory(menu.category)"><span class="mx-2">{{menu.label}}</span></a>
    </li>
  </div>
</div>




